body {
    background-color: #f5f5f5;
    color: #333; /* Default text color */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body.dark-mode {
    background-color: #333 !important;
    color: #fff; /* Light text color on dark background */
}

.card {
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: #fff; /* Default card background color */
    color: #333; /* Default card text color */
}

.card:hover {
    transform: scale(1.02); /* Slightly enlarge the card */
    box-shadow: 0 5px 10px rgb(85, 85, 85); /* Add a shadow effect */
}

.dark-mode .card {
    background-color: #444; /* Darker card background color */
    color: #fff; /* Light text color on dark background */
}

.dark-mode .card:hover {
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.2); /* Adjust shadow color for dark mode */
}

.about-container {
    flex: 1;
}

.hover-hr {
    border: 0;
    height: 1.5px;
    background: #ccc;
    transition: background-color 0.3s ease;
}

.card:hover .hover-hr {
    background: #27bfe9; /* Change this to the color you want on hover */
}


.dark-mode .hover-hr {
    background-color: #555; /* Darker hover effect color */
}

.dark-mode .card:hover .hover-hr {
    background-color: #e9c527; /* Change hover effect color for dark mode */
}


.h {
    position: relative;
    margin: 20px auto;
    width: 75%; /* Adjust the width as needed */
    height: 1.2px;
    background: rgb(0, 179, 255);
    transition: width 0.3s ease-in-out;
}

/* Dark mode adjustments */
.dark-mode .h {
    background-color: #eed817; /* Dark mode line color */
}


