{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Souro | About</title>
    <link
      href="{% static 'CSS/about.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header>{% include 'base/navbar.html' %}</header>

    <div class="about-container container">
      <h2 class="text-center">Education</h2>
      <hr class="h">

      <div class="row g-3">
        <div class="col-md-6 mb-3 ">
          <div class="card card-body h-100 border-success">
            <h5>B. Sc. in Software Engineering (SWE)</h5>
            <h6>2022 - 2026</h6>
            <hr class="hover-hr" />
            <p>Daffodil International University </br>
              Birulia, Savar, Dhaka </br>
              Current CGPA: 3.41 out of 4.00 </br>
              </p>
          </div>
        </div>
        <div class="col-md-6 mb-3 ">
          <div class="card card-body h-100 border-success">
            <h5>Higher Secondary Certificate (H.S.C)</h5>
            <h6>2019 - 2021</h6>
            <hr class="hover-hr" />
            <p>Sreenagar Govt. College </br>
              Sreenagar, Munshiganj </br>
              GPA: 4.75 </br>
              </p>
          </div>
        </div>
        
      </div>

    </div>

    <footer>
      {% include 'base/footer.html' %}
    </footer>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGaXqB8z5P9CT5W7fAPJ0I3O5S"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy9V+NIp30p5a5DWzMmGc3E+/6t8j+k/nQ/rGe5"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
